.App {
  text-align: center;
}
.AppLink {
  color:white;
  text-decoration: none;
}
.AppInput {
  color: black;
  padding: 10px;
  font-size: large;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  width: 300px;
}
.AppHeader {
  color: white;
  padding: 10px;
  font-size: large;
  margin:0;
  text-align: center;
  background-color: grey;
  width: 800;
}
.AppHighLight {
  background-color:#c5c5c5;
}

.AppSelect {
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: large;
width: 320px;
padding: 15px 15px;
}
.AppErrorMessage {
  color: red;
  font-size:small ;
  inline-size: block;
}
.AppItem {
  text-align: left;
  margin-left: 50;
}
.AppSubmitBtn {
  background-color:goldenrod; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}
.AddCart {
  background-color: goldenrod;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 200px;
  margin-right: 60px;
  float: right;
  text-transform: bold;
}

.AppActive {
  color:white;
  background-color: blue;
}
.AppPaper {
  max-width: 400px;
  margin: auto;
  padding: 30px 30px;
  margin-top:50px;
}
.AppForm {
  text-align: center;
  width: 100%;
}
.AppPagination {
padding: 20px 20px;
position: bottom;
}

